body {
  height: 100%;
  background: url('../images/halftone.png') rgb(255, 255, 255);
  background-size: 200px 200px;
  background-position: left top;
  font: normal 1.125em/1.38 MuseoSans-300;
  color: rgb(0, 0, 0);
}

.about-me {
  display: block;
  position: relative;
  float: left;
  width: 23.4953703703%;
  height: 172px;
  border-radius: 5px;
  background-color: #1abc9c;
  overflow: hidden;
}

.about-me-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 44;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(0, 0, 0, 0.51);
}

.about-me-icon {
  display: block;
  float: left;
  width: 70px;
  height: auto;
  margin: 51px 0 0 32.99723%;
  overflow: hidden;
}

.ascvd {
  position: absolute;
  top: 123px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 764px;
  height: 561px;
  margin: 0 auto;
}

.ascvd-app-header {
  width: 100%;
  height: 61px;
  margin: 0 auto;
}

.ascvd-app-header .image,
.canafeed-app-header .image,
.surveyfill-app-header .image {
  float: left;
  width: 61px;
}

.ascvd-app-name {
  float: left;
  width: 81.6705336426%;
  min-height: 30px;
  margin: 14px 0 0 4.17271%;
  font: 1.389em/1.38 MuseoSans-700;
  color: rgb(0, 0, 0);
}

.ascvd-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 36;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.ascvd-description,
.surveyfill-description {
  float: left;
  clear: both;
  width: 100%;
  min-height: 74px;
  margin-top: 23px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.ascvd-description-body,
.canafeed-description-body {
  float: left;
  width: 56.4136125654%;
  height: 501px;
  margin-top: 30px;
}

.ascvd-risk {
  display: block;
  position: relative;
  float: left;
  width: 23.4953703703%;
  height: 172px;
  margin-left: 2.00376%;
  border-radius: 5px;
  background-color: #4f5aa8;
  overflow: hidden;
}

.ascvd-risk-icon {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 34;
  width: 83px;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.ascvd-screenshot {
  position: absolute;
  left: 64.9194208115%;
  z-index: 3;
  width: 35.0785340314%;
  height: 561px;
}

.back-button {
  display: block;
  position: relative;
  float: left;
  z-index: 13;
  width: 100px;
  height: 38px;
  margin: 48px 0 0 11.01852%;
}

.back-button .image {
  position: relative;
  float: left;
  z-index: 11;
  width: 19px;
  margin-top: 5px;
}

.back-text {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 86%;
  min-height: 38px;
  margin: -34px 0 0 14%;
  font: 1.556em/1.38 MuseoSans-100;
  text-align: center;
  color: rgb(0,0,0);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 885px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
}

.button-containers {
  width: 864px;
  height: 364px;
  margin: 334px auto 0;
}

.button-containers .canafeed {
  display: block;
  position: relative;
  float: left;
  width: 23.4953703703%;
  height: 172px;
  margin-left: 1.96398%;
  border-radius: 5px;
  background-color: rgb(97, 188, 81);
  overflow: hidden;
}

.canafeed-app-description {
  float: left;
  clear: both;
  width: 100%;
  min-height: 74px;
  margin-top: 10px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.canafeed-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 40;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.canafeed-icon {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 38;
  width: 85px;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.canafeed-interface {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 25;
  width: 227px;
  height: auto;
  margin: -479px 0 0 8.20896%;
  overflow: hidden;
}

.canafeed-screenshot {
  position: absolute;
  left: 64.9194208115%;
  z-index: 26;
  width: 35.0785340314%;
  height: 561px;
}

.contact-me {
  display: block;
  position: relative;
  float: left;
  width: 23.4953703703%;
  height: 172px;
  margin: 20px 0 0 1.96398%;
  border-radius: 5px;
  background-color: rgb(235, 149, 50);
  overflow: hidden;
}

.contact-me-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 64;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.about-me-caption-text,
.ascvd-caption-text,
.canafeed-caption-text,
.contact-me-caption-text,
.cube-utilities-caption-text,
.github-caption-text,
.stackover-caption-text,
.survey-fill-caption-text {
  width: 100%;
  margin: 5px auto 0;
  padding-top: 3px;
  font-size: 0.889em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cube {
  display: block;
  width: 107px;
  height: auto;
  margin: 34px auto 0;
  overflow: hidden;
}

.cube-utilities {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 23.4953703703%;
  height: 172px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(224, 130, 131);
  overflow: hidden;
}

.cube-utilities-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 60;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.description {
  text-align: center;
}

.description-4 p,
.surveyfill-description p {
  margin-bottom: 1em;
}

.github {
  display: block;
  position: relative;
  float: left;
  width: 23.4953703703%;
  height: 172px;
  margin: 20px 0 0 2.07972%;
  border-radius: 5px;
  background-color: rgb(242, 38, 19);
  overflow: hidden;
}

.github-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 56;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.github-icon {
  display: block;
  width: 59px;
  height: auto;
  margin: 57px auto 0;
  overflow: hidden;
}

.header-text {
  width: 100%;
  height: 112px;
  margin: 1px auto 0;
}

.header-text .description {
  min-height: 64px;
  margin: 0 auto;
  font: 1.278em MuseoSans-100;
  color: rgb(179, 179, 179);
}

.home {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  z-index: 72;
  width: 864px;
  height: 738px;
  margin: 0 auto;
}

.id-heading {
  float: left;
  width: 371px;
  height: 271px;
  margin-left: 28.58435%;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.iphone {
  display: block;
  position: relative;
  float: left;
  z-index: 24;
  width: 268px;
  height: auto;
  overflow: hidden;
}

.my-face {
  display: block;
  width: 160px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.name {
  min-height: 46px;
  margin: 0 auto;
  font: 400 2.056em/1.38 'Museo Sans';
  text-align: center;
  color: rgb(0, 0, 0);
}

.plane {
  display: block;
  width: 65px;
  height: auto;
  margin: 57px auto 0;
  overflow: hidden;
}

.stackoverflow {
  display: block;
  position: relative;
  float: left;
  width: 23.4953703703%;
  height: 172px;
  margin: 20px 0 0 1.96398%;
  border-radius: 5px;
  background-color: rgb(247, 202, 24);
  overflow: hidden;
}

.stackoverflow-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 48;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.stackoverflow-icon {
  display: block;
  float: left;
  width: 77px;
  height: auto;
  margin: 47px 0 0 31.02679%;
  overflow: hidden;
}

.survey-fill {
  display: block;
  position: relative;
  float: left;
  width: 23.4953703703%;
  height: 172px;
  margin-left: 2.03993%;
  border-radius: 5px;
  background-color: rgb(235, 186, 31);
  overflow: hidden;
}

.survey-fill .image {
  width: 105px;
  margin: 36px auto 0;
}

.survey-fill-caption {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  z-index: 51;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.surveyfill {
  position: absolute;
  top: 123px;
  left: 0;
  right: 0;
  z-index: 23;
  width: 764px;
  height: 561px;
  margin: 0 auto;
}

.surveyfill .description-body {
  float: left;
  width: 56.4136125654%;
  height: 458px;
  margin-top: 59px;
}

.canafeed-app-header,
.surveyfill-app-header {
  width: 45.7076566125%;
  height: 61px;
  margin: 0 auto;
}

.canafeed-app-name,
.surveyfill-app-namea {
  float: left;
  width: 59.8984771573%;
  min-height: 30px;
  margin: 14px 0 0 9.10533%;
  font: 1.389em/1.38 MuseoSans-700;
  color: rgb(0, 0, 0);
}

.surveyfill-screenshot {
  position: absolute;
  left: 64.9194208115%;
  z-index: 16;
  width: 35.0785340314%;
  height: 561px;
}

._container {
  position: relative;
  width: 100%;
  height: 885px;
  margin: 0 auto;
}

.canafeed-2 {
  position: absolute;
  top: 123px;
  left: 0;
  right: 0;
  z-index: 33;
  width: 764px;
  height: 561px;
  margin: 0 auto;
}

.image-10,
.image-4 {
  float: left;
  clear: both;
  width: 172px;
  margin-left: 30.15879%;
}

.image-11 {
  position: relative;
  float: left;
  z-index: 1;
  width: 268px;
}

.image-12 {
  position: absolute;
  top: 82px;
  left: 8.5820895522%;
  z-index: 2;
  width: 227px;
}

.image-6 {
  width: 172px;
  margin: 342px auto 0;
}

.image-7 {
  position: relative;
  float: left;
  z-index: 14;
  width: 268px;
}

.image-8 {
  position: absolute;
  top: 84px;
  left: 8.2089552238%;
  z-index: 15;
  width: 226px;
}